@tab-height: 22px;
@tab-background-color: transparent;
@tab-active-background-color: @header-background-color;

@tab-font-size: 11px;
@tab-color: @text-color-subtle;
@tab-active-color: @text-color;
@tab-border-color: #000;//@pane-border-color;
@tab-border-width: 1px;//@pane-border-width;

@close-icon-size: 16px;
@close-icon-background-color: @primary-color;
@close-icon-border-radius: 2px;

@link-icon-size: 10px;
@link-icon-color-size: 8px;

@tab-color-red: rgb(255, 59, 48);
@tab-color-orange: rgb(255, 149, 0);
@tab-color-yellow: rgb(255, 204, 0);
@tab-color-green: rgb(76, 217, 100);
@tab-color-teal: rgb(90, 200, 250);
@tab-color-blue: rgb(0, 122, 255);
@tab-color-purple: rgb(88, 86, 214);

.tab-bar
{
    display: flex;
    -webkit-user-select: none;
    margin: 0;
    padding: 0;
    height: @tab-height;
    background: #282828; //@pane-background-color;
    z-index: 3;

    &:empty
    {
        display: none;
    }

    .tab
    {
        // flex: 1;
        font-size: 11px;
        position: relative;
        padding: 0 (@close-icon-size + @tab-height - @close-icon-size);
        -webkit-user-drag: element;
        background-color: @tab-background-color;
        min-width: 40px;
        max-width: 280px;
        // transition: max-width .25s ease-in-out;
        height: @tab-height;
        border-bottom: 0;
        // padding-bottom: 1px;
        line-height: @tab-height;
        border-left: 1px solid transparent;
        border-right: 1px solid transparent;
        -webkit-font-smoothing: antialiased;
        font-weight: 500;

        &.active
        {
            background-color: @tab-active-background-color;
            // border-color: @header-border-color;//@pane-border-color;
            height: @tab-height + 1;
            margin-bottom: -1px;
            z-index: 2;
            padding-bottom: 0;
            // line-height: @tab-height - 1;
            // border-top-color: #999;
            border-left-color: @header-border-color;
            border-right-color: @header-border-color;

            &:first-child
            {
                border-left-color: transparent;
            }

            .title
            {
                color: @tab-active-color;
            }

            .link-color.unlinked
            {
                border-color: #FFF;
            }
        }

        .title
        {
            overflow: hidden;
            white-space: pre;
            text-overflow: ellipsis;
            line-height: @tab-height - @tab-border-width;
            font-size: @tab-font-size;
            text-align: center;
            color: @tab-color;
        }

        .hide-icon
        {
            &.icon:before
            {
                display: none;
            }
        }

        .close-icon
        {
            position: absolute;
            cursor: default;
            top: (@tab-height - @close-icon-size) / 2;
            right: (@tab-height - @close-icon-size) / 2;
            width: @close-icon-size;
            height: @close-icon-size;
            border-radius: @close-icon-border-radius;
            background-color: transparent;
            background-repeat: no-repeat;
            background-size: 10px 10px;
            background-position: 3px 4px;
            background-image: url('via://tabs/images/close.svg');
            transform: scale(0);
            transition: transform ease 0.1s;

            &:hover
            {
                background-color: @close-icon-background-color;
            }
        }

        &:hover
        {
            .close-icon
            {
                transform: scale(1);
            }

            .link-color
            {
                // border-color: lighten(@header-background-color, 30%);
                // opacity: 1;
            }
        }

        .link-icon
        {
            position: absolute;
            cursor: default;
            top: (@tab-height - @link-icon-size) / 2;
            left: (@tab-height - @link-icon-size) / 2;
            padding: (@link-icon-size - @link-icon-color-size) / 2;
            width: @link-icon-size;
            height: @link-icon-size;
        }

        .link-color
        {
            width: @link-icon-color-size;
            height: @link-icon-color-size;
            border-radius: @link-icon-color-size / 2;
            border: 1px solid @text-color-subtle;
            box-sizing: border-box;
            transition: all ease 0.2s;
            // opacity: 0;

            &:hover
            {
                border-color: @text-color;
            }

            &.red
            {
                border-color: @tab-color-red;
                background-color: @tab-color-red;
            }

            &.orange
            {
                border-color: @tab-color-orange;
                background-color: @tab-color-orange;
            }

            &.yellow
            {
                border-color: @tab-color-yellow;
                background-color: @tab-color-yellow;
            }

            &.green
            {
                border-color: @tab-color-green;
                background-color: @tab-color-green;
            }

            &.teal
            {
                border-color: @tab-color-teal;
                background-color: @tab-color-teal;
            }

            &.blue
            {
                border-color: @tab-color-blue;
                background-color: @tab-color-blue;
            }

            &.purple
            {
                border-color: @tab-color-purple;
                background-color: @tab-color-purple;
            }
        }
    }

    .placeholder
    {
        position: relative;
        top: 0;
        padding: 0;
        height: @tab-height;
        z-index: 999;
        list-style: none;
        background: @tab-background-color;
        pointer-events: none;

        &:before
        {
            content: "";
            position: absolute;
            width: 2px;
            margin: 0;//-1px;
            padding: 0;
            height: @tab-height;
            background: @primary-color;
        }

        &:after
        {
            content: "";
            position: absolute;
            top: 0;
            bottom: 0;
            left: -2px;
            z-index: 9999;
            width: 6px;
            height: 6px;
            background: @primary-color;
            transform: rotate(45deg);
            margin: auto;
        }
    }

    &.hidden
    {
        display: none;
    }
}

via-dock
{
    .tab-bar
    {
        .tab
        {
            // max-width: none;
        }
    }
}

via-pane.has-focus
{
    .tab.active::before
    {
        position: absolute;
        top: -1px;
        right: -1px;
        bottom: 0;
        left: -1px;
        border: 1px solid @primary-color;
        border-bottom: 0;
        pointer-events: none;
        content: "";
        z-index: 2;
    }
}